ion-content{
    --ion-background-color:#175EE9;
}
ion-card {
    border-radius: 20px;
}

.ion-color-light-blue {
    --ion-color-base: var(--ion-color-light-blue);
    --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
    --ion-color-contrast: var(--ion-color-light-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-light-blue-shade);
    --ion-color-tint: var(--ion-color-light-blue-tint);
}

.item-avatar  {     
    width:100% !important;  
    height: 100% !important;  
    max-width: 30px !important;  //any size
    max-height: 30px !important; //any size 
    border: 1px solid #ffffff;
    border-style: outset;
}

