<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/user">
        <ion-avatar class="item-avatar">
          <img src="{{userPic}}" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>PSU My Friend</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar shape="round" color="light" animated="true" mode="ios" (ionChange)="inputSearch($event)">
  </ion-searchbar>
  <ion-card color="primary" *ngFor="let item of filterData">
    <img style="height: 100px" *ngIf="item.img" src="{{item.img}}" />
    <img style="height: 100px" *ngIf="!item.img"
      src="https://catering-kvatric.hr/wp-content/uploads/2017/04/best-party-planner.jpg" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-row>
          <ion-chip style="color: rgb(255, 255, 255);"*ngIf="item.date" color="dark">
            <p >{{item.date}}</p>
          </ion-chip>
          <ion-chip *ngIf="!item.date" color="light-blue">
            <p>../../..</p>
          </ion-chip>
          <ion-chip *ngIf="item.title" color="light-blue">
            <p><b>{{item.title}}</b></p>
          </ion-chip>
          <ion-chip *ngIf="!item.title" color="light-blue">
            <p>Event ....</p>
          </ion-chip>
          <ion-chip *ngIf="item.location" color="light-blue">
            <ion-icon name="pin" style="margin-right: 0.5%;margin-left: 3%"></ion-icon>
            {{item.location}}
          </ion-chip>
          <ion-chip *ngIf="!item.location" color="light-blue">
            <ion-icon name="pin" style="margin-right: 0.5%;margin-left: 3%"></ion-icon>
            Location
          </ion-chip>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item style="border-radius: 25px;" color="light" lines="none">
              <ion-avatar *ngIf="item.userImg" slot="start">
                <img src="{{item.userImg}}" />
              </ion-avatar>
              <ion-avatar *ngIf="!item.userImg" slot="start">
                <ion-icon name="contact" size="large"></ion-icon>
              </ion-avatar>
              <ion-label *ngIf="item.user" style="margin-top: 3%;font-size: 20px !important;">
                <h3><b>Host</b></h3>
                <p>{{item.user}}</p>
              </ion-label>
              <ion-label *ngIf="!item.user" style="margin-top: 3%;font-size: 20px !important;">
                <h3><b>Host</b></h3>
                <p>.........</p>
              </ion-label>
              <ion-button size="large" slot="end" shape="round" (click)="viewPlans(item.id)">View</ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>