<ion-content fullscreen>
  <div>
    <h1 class="ion-padding-top ion-text-center">
      PSU My Friend
    </h1>
  </div>
  <div class="ion-padding">
    <ion-slides class="img" pager="true">
      <ion-slide>
        <img src="../../../assets/cover1.jpg" alt="" />
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/cover2.jpg" alt="" />
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/cover3.jpg" alt="" />
      </ion-slide>

      <ion-slide>
        <img src="../../../assets/cover4.jpg" alt="" />
      </ion-slide>
    </ion-slides>
  </div>
  <div class="ion-padding">
    <ion-button expand="block" (click)="loginWithFacebook()">
     <!-- <ion-button [routerLink]="['/app/tabs/feeds']" routerLinkActive="router-link-active" expand="block"> -->
      <ion-icon slot="start" name="logo-facebook" style="zoom:1.5"></ion-icon>
      <ion-text class="ion-padding">
        Login with Facebook
      </ion-text>
    </ion-button>
  </div>
</ion-content>