<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button routerLink="/app/tabs/feeds">
          <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-list style="margin-top: 40%" >
    <ion-title text-center color="light" size="large" > MY PROFILE </ion-title>
    <ion-avatar style="margin-top: 5%" class="item-avatar">
      <img src="{{pic}}">
    </ion-avatar>
    <ion-title style="margin-top: 0%" text-center color="light" size="small"> <h5>{{name}}</h5> </ion-title>
    <ion-button  style="margin-top: 10%" expand="full" shape="round" color="danger" (click)="logoutWithFacebook()">
        <ion-icon name="exit" style="margin-right: 3%"></ion-icon>
        Logout
    </ion-button>
  </ion-list>
</ion-content>
