ion-content{
    --ion-background-color:#175EE9;
}
ion-avatar{
    margin: auto;
    width:100% !important;
    height : 100% !important;
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size
}
ion-list-header{
     display:block;
     text-align: center;
}

.item-avatar  {     
    width:100% !important;  
    height: 100% !important;  
    border: 1px solid #ffffff;
    border-style: outset;
}