<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feeds">
      <ion-icon src="assets/icon/newspaper.svg"></ion-icon>
      <ion-label>Feeds</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/plan">
      <ion-icon src="assets/icon/birthday.svg"></ion-icon>
      <ion-label>Planing</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="event">
      <ion-icon src="assets/icon/calendar.svg"></ion-icon>
      <ion-label>My Event</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
