<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/app/tabs/feeds">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>Planing</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form [formGroup]="planing">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="align-self-center"  size-md="6" size-lg="5" size-xs="12">
          <div class="text-center">
            <ion-item style="--border-radius: 15px;margin-bottom: 3%">
                <ion-label>Type</ion-label>
                <ion-select placeholder="Select One" interface="action-sheet" formControlName="type" mode="ios">
                  <ion-select-option value="sport">Sport</ion-select-option>
                  <ion-select-option value="hobby">Hobby</ion-select-option>
                  <ion-select-option value="eat">Eat-N-Drink</ion-select-option>
                  <ion-select-option value="party">Party</ion-select-option>
                  <ion-select-option value="meet">Meet</ion-select-option>
                  <ion-select-option value="study">Study</ion-select-option>
                  <ion-select-option value="travel">Travel</ion-select-option>
                </ion-select>
            </ion-item>
            
          </div>
          <div class="padding">
            <ion-label  style="font-size: 20px !important;">
                <ion-icon name="image" style="margin-right: 1%"></ion-icon>Event Cover
            </ion-label>
            <ion-item lines="none" color="primary">
              <ion-button size="large" (click)="AccessGallery()" style="margin-left: 25%" expand="block" color="light" type="submit">
                <ion-icon name="add-circle"></ion-icon>Add photo
              </ion-button>
            </ion-item>
            <div>
              <img [src]="this.planing.value.img" height="120vh" *ngIf="this.planing.value.img" class="myphoto"/>
            </div>
            <ion-label  style="font-size: 20px !important;">Event title</ion-label>
            <ion-item style="margin-top: 3%;margin-bottom: 3%;" class="padding" color="black-ocean">
              <ion-input  formControlName="title" type="text"  ngModel required></ion-input>
            </ion-item>

            <ion-label style="font-size: 20px !important;">Event Description</ion-label>
            <ion-item style="margin-top: 3%;margin-bottom: 3%;" class="padding" color="black-ocean">
              <ion-textarea formControlName="description" type="text"  ngModel required></ion-textarea>
            </ion-item>
            
            <ion-item style="margin-bottom: 3%;" color="black-ocean">
              <ion-icon name="pin"></ion-icon>
              <ion-input formControlName="location" type="text" placeholder="Add location" ngModel required></ion-input>
            </ion-item>

            <ion-label style="font-size: 20px !important;">Date & Time</ion-label>
            <ion-item  style="margin-top: 3%" color="black-ocean">
              <ion-label>Starts</ion-label>
              <ion-datetime formControlName="start" displayFormat="HH.mm A,DD MMM YYYY" pickerFormat="DD MMM YYYY HH mm A" ></ion-datetime>
            </ion-item>
            <ion-item  style="margin-bottom: 3%" color="black-ocean">
                <ion-label>Ends</ion-label>
                <ion-datetime formControlName="end" displayFormat="HH.mm A,DD MMM YYYY" pickerFormat="DD MMM YYYY HH mm A" ></ion-datetime>
            </ion-item>

            <ion-label style="margin-top: 3%;font-size: 20px !important;">How many ?</ion-label>  
            <ion-item style="margin-top: 3%;margin-bottom: 3%;" color="black-ocean">
              <ion-range formControlName="people" min="0" max="50" pin color="success">
                  <ion-icon slot="start" size="small" name="person"></ion-icon>
                  <ion-icon slot="end" name="person"></ion-icon>
                </ion-range>
            </ion-item>
          </div>

          <div class="padding">
            <ion-button routerLink="/app/tabs/feeds" (click)="CreateRecord()" style="margin-top: 10%;" color="light" size="large" type="submit" shape="round" fill="outline" expand="block">Create</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
