
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.ion-color-black-ocean {
    --ion-color-base: var(--ion-color-black-ocean);
    --ion-color-base-rgb: var(--ion-color-black-ocean-rgb);
    --ion-color-contrast: var(--ion-color-black-ocean-contrast);
    --ion-color-contrast-rgb: var(--ion-color-black-ocean-contrast-rgb);
    --ion-color-shade: var(--ion-color-black-ocean-shade);
    --ion-color-tint: var(--ion-color-black-ocean-tint);
}

.myphoto {
    height: auto !important;
    width: auto !important;
    align-items: center;
}


