<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/app/tabs/feeds" (click)="resetData()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>{{planTitle}} plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <img *ngIf="planImg" src="{{planImg}}" />
      <img *ngIf="!planImg" src="https://catering-kvatric.hr/wp-content/uploads/2017/04/best-party-planner.jpg" />
      <ion-col>
        <ion-item style="border-radius: 25px;" lines="none">
          <ion-avatar *ngIf="planUserImg" slot="start">
            <img src="{{planUserImg}}" />
          </ion-avatar>
          <ion-avatar *ngIf="!planUserImg" slot="start">
            <ion-icon name="contact" size="large"></ion-icon>
          </ion-avatar>
          <ion-label *ngIf="planUser" style="margin-top: 3%;font-size: 20px !important;">
            <h3><b>Host</b></h3>
            <p>{{planUser}}</p>
          </ion-label>
          <ion-label *ngIf="!planUser" style="margin-top: 3%;font-size: 20px !important;">
            <h3><b>Host</b></h3>
            <p>.........</p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col style="margin-left: 10%">
        <ion-label *ngIf="planLocation" tyle="margin-top: 2%;">
          <ion-icon name="pin"></ion-icon>
          {{planLocation}}
        </ion-label>
        <ion-label *ngIf="!planLocation" tyle="margin-top: 2%;">
          <ion-icon name="pin"></ion-icon>
          {{planLocation}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-left: 10%">
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon name="copy" size="large"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Event Description</h3>
            <p>{{planDescription}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon name="calendar" size="large"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h3>Date & Time</h3>
            <p>Start : {{planStart}}</p>
            <br />
            <p>End : {{planEnd}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label tyle="margin-top: 2%;">
            {{planJoin}} / {{planPeople}} People
          </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-button *ngIf="planUser != userName" style="margin-left: auto;margin-right: auto;text-align:center"
      routerLink="/app/tabs/feeds" color="success" size="large" shape="round" fill="outline" expand="full"
      (click)="joinPlan(planId)"> Join </ion-button>
    <ion-button *ngIf="planUser == userName" style="margin-left: auto;margin-right: auto;text-align:center"
      routerLink="/app/tabs/feeds" color="danger" size="large" shape="round" fill="outline" expand="full"
      (click)="canclePlan(planId)"> Cancel </ion-button>
  </ion-grid>
</ion-content>