<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/user">
        <ion-avatar class="item-avatar">
          <img src="{{userPic}}">
        </ion-avatar>
      </ion-button>
    </ion-buttons>

    <ion-title text-center>PSU My Friend</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row color="primary" class="ion-justify-content-center">
      <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="text-center"></div>
        <div class="padding">
          <ion-label color="light" style="margin-top: 3%;font-size: 30px !important;">
            <ion-icon style="margin-top: 3%;" color="danger" name="logo-ionic"></ion-icon>
            Host
          </ion-label>
          <ion-card color="primary" *ngFor="let item of plans">
            <span *ngIf="item.user == this.userName">
              <img style="height: 100px" *ngIf="item.img" src="{{item.img}}" />
              <img style="height: 100px" *ngIf="!item.img"
                src="https://catering-kvatric.hr/wp-content/uploads/2017/04/best-party-planner.jpg" />
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-row size="10">
                    <ion-col size="2" style="margin-right: 10%">
                      <ion-chip *ngIf="item.date" color="light-blue">
                        <p>{{item.date}}</p>
                      </ion-chip>
                      <ion-chip *ngIf="!item.date" color="light-blue">
                        <p>../../..</p>
                      </ion-chip>
                    </ion-col>
                    <ion-col size="5">
                      <ion-chip *ngIf="item.title" color="light-blue">
                        <p><b>{{item.title}}</b></p>
                      </ion-chip>
                      <ion-chip *ngIf="!item.title" color="light-blue">
                        <p>Event .... </p>
                      </ion-chip>
                    </ion-col>
                    <ion-col size="3">
                      <ion-chip *ngIf="item.location" color="light-blue">
                        <ion-icon name="pin" style="margin-right: 0.5%;margin-left: 3%"></ion-icon>
                        {{item.location}}
                      </ion-chip>
                      <ion-chip *ngIf="!item.location" color="light-blue">
                        <ion-icon name="pin" style="margin-right: 0.5%;margin-left: 3%"></ion-icon>
                        Location
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item style="border-radius: 25px;" color="light" lines="none">
                        <ion-avatar *ngIf="item.userImg" slot="start">
                          <img src="{{item.userImg}}" />
                        </ion-avatar>
                        <ion-avatar *ngIf="!item.userImg" slot="start">
                          <ion-icon name="contact" size="large"></ion-icon>
                        </ion-avatar>
                        <ion-label *ngIf="item.user" style="margin-top: 3%;font-size: 20px !important;">
                          <h3><b>Host</b></h3>
                          <p>{{item.user}}</p>
                        </ion-label>
                        <ion-label *ngIf="!item.user" style="margin-top: 3%;font-size: 20px !important;">
                          <h3><b>Host</b></h3>
                          <p>.........</p>
                        </ion-label>
                        <!-- <ion-button size="large" slot="end" shape="round" (click)="viewPlan(item.id)">View</ion-button> -->
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-card-subtitle>
              </ion-card-header>
            </span>
          </ion-card>

          <ion-label color="light" style="margin-top: 3%;font-size: 30px !important;">
            <ion-icon color="warning " name="logo-ionic"></ion-icon>
            Join
          </ion-label>
          <ion-card color="primary" *ngFor="let item of plans">
              <span *ngIf="item.user != this.userName">
                <img style="height: 100px" *ngIf="item.img" src="{{item.img}}" />
                <img style="height: 100px" *ngIf="!item.img"
                  src="https://catering-kvatric.hr/wp-content/uploads/2017/04/best-party-planner.jpg" />
                <ion-card-header>
                  <ion-card-subtitle>
                    <ion-row size="10">
                      <ion-col size="2" style="margin-right: 10%">
                        <ion-chip *ngIf="item.date" color="light-blue">
                          <p>{{item.date}}</p>
                        </ion-chip>
                        <ion-chip *ngIf="!item.date" color="light-blue">
                          <p>../../..</p>
                        </ion-chip>
                      </ion-col>
                      <ion-col size="5">
                        <ion-chip *ngIf="item.title" color="light-blue">
                          <p><b>{{item.title}}</b></p>
                        </ion-chip>
                        <ion-chip *ngIf="!item.title" color="light-blue">
                          <p>Event .... </p>
                        </ion-chip>
                      </ion-col>
                      <ion-col size="3">
                        <ion-chip *ngIf="item.location" color="light-blue">
                          <ion-icon name="pin" style="margin-right: 0.5%;margin-left: 3%"></ion-icon>
                          {{item.location}}
                        </ion-chip>
                        <ion-chip *ngIf="!item.location" color="light-blue">
                          <ion-icon name="pin" style="margin-right: 0.5%;margin-left: 3%"></ion-icon>
                          Location
                        </ion-chip>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-item style="border-radius: 25px;" color="light" lines="none">
                          <ion-avatar *ngIf="item.userImg" slot="start">
                            <img src="{{item.userImg}}" />
                          </ion-avatar>
                          <ion-avatar *ngIf="!item.userImg" slot="start">
                            <ion-icon name="contact" size="large"></ion-icon>
                          </ion-avatar>
                          <ion-label *ngIf="item.user" style="margin-top: 3%;font-size: 20px !important;">
                            <h3><b>Host</b></h3>
                            <p>{{item.user}}</p>
                          </ion-label>
                          <ion-label *ngIf="!item.user" style="margin-top: 3%;font-size: 20px !important;">
                            <h3><b>Host</b></h3>
                            <p>.........</p>
                          </ion-label>
                          <!-- <ion-button size="large" slot="end" shape="round" (click)="viewPlan(item.id)">View</ion-button> -->
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-card-subtitle>
                </ion-card-header>
              </span>
            </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>