.ion-color-light-blue {
    --ion-color-base: var(--ion-color-light-blue);
    --ion-color-base-rgb: var(--ion-color-light-blue-rgb);
    --ion-color-contrast: var(--ion-color-light-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-light-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-light-blue-shade);
    --ion-color-tint: var(--ion-color-light-blue-tint);
}